.intro {
    margin-top: 20px;
    margin-left: 0px;
}

body {
    background-color:  #f3d6e4;
}

img {
    background-color: #ffffff;
}

a {
    color: inherit; 
}

nav, footer {
    background-color:#faacd1
    
}

footer > img {
    opacity: 0.1;
}